<div id="repo_events" data-default-user="<%= @default_user %>" data-default-repo-name="<%= @default_repo_name%>"></div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<%= javascript_pack_tag "repo_events" %>
